$border : 1px solid rgb(207, 203, 203);
$entPassMargin : -1.5vh 0vw 3vh 0vw;

@mixin basicCenter {
    justify-content: center;
    align-items: center;
}

@mixin widthHeight {
    height: 100%;
    width: 100%;
}

.fundooR{
    display: flex;
    font-size: 25px;
    margin: 0vh 0vw 0vh 12vw;
}

.find-Remail{
    font-size: 20px;
    margin: 0vh 0vw 0vh 10vw;
}

.enter-Rpassword{
    font-size: 18px;
    margin: 3vh 0vw 2vh 10vw;
}

.reset-main-page{
    @include widthHeight();
    margin: 15vh 0vw;
    display: flex;
    @include basicCenter();
}


.reset-page{
    @include basicCenter();
    border: $border;
    width: 30%;
    height: 65vh;
    border-radius: 8px;
}

.enter-password{
    font-size: 20px;
    margin: $entPassMargin;
}

.password{
    @include basicCenter();
    width: 84%;
    margin: 0vh 2.5vw;
}

.confirm-password{
    @include basicCenter();
    width: 84%;
    margin: 2vh 2.5vw;
}


.rButton{
    margin: 0vh 0vw 0vh 21vw;
}