.mainHeader{
    display: flex;
    margin: 2vh 0vw 0vh 0vw;
}

.search{
    height: 1cm;
    width: 25cm;
    margin: 0vh 0vw 0vh 5vw;
}

.headerIcon{
    display: flex;
    font-size: 20px;
    margin: 1vh 0vw 0vh 0vw;
    min-width: 20px;
    color: white;
}

.keep{
    margin: -1vh 0vw 1vh 0vw;
}