.mainHeader{
    display: flex;
    margin: 2vh 0vw 0vh 0vw;
}

.search{
    margin: 0vh 0vw 0vh 10vw;
}

.headerIcon{
    display: flex;
    font-size: 20px;
    margin: 0vh 0vw 0vh 65vw;
    min-width: 20px;
    color: white;
}