@mixin borderOut{
    outline: none;
    border: none;
}

@mixin shadowBorder {
    box-shadow: -1px -1px 5px rgb(153, 150, 150),
                1px 1px 10px rgb(153, 150, 150);
        border-radius:8px;
}

.addnote-container{
    justify-content: center;
    margin: 0vh 0vw 0vh 20vw;
    display: flex;
    height: 100%;
    width: 50%;
    .firstContainer{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 40px;
        @include shadowBorder();
        .firstTitle{
            justify-content: center;
            width: 75%;
            @include borderOut();
        }
        .firstTitleIcon{
            width: 25%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .secondContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        @include shadowBorder();
        .secondTitle{
            @include borderOut();
            width: 100%;
            height: 70px;
            background-color: inherit;
        }
        .secondDescription{
           @include borderOut();
            width: 100%;
            height: 80px;
            background-color: inherit;
        }
        .thirdPart{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .secondTitleIcon{
                width: 60%;
                display: flex;
                justify-content: space-around;
            }
            .secondCButton{
                margin: 0vh 2vw 0vh 0vw;
            }
    }
    }
}

@media screen and (max-width:900px) {
    .addnote-container{
        .firstContainer{
            display: flex;
            width: 95%;
        }
    }
}

@media screen and (max-width:600px) {
    .addnote-container{
        .firstContainer{
            display: flex;
            width: 70%;
        }
    }
}

@media screen and (max-width:500px) {
    .addnote-container{
        .firstContainer{
            display: flex;
            width: 80%;
        }
    }
}

// @media screen and (max-width:450px) {
//     .addnote-container{
//         .firstContainer{
//             display: flex;
//             width: 50%;
//         }
//     }
// }

// @media screen and (max-width:350px) {
//     .addnote-container{
//         width: 100%;
//         .firstContainer{
//             display: flex;
//             width: 200%;
            
//         }
//     }
// }



