$border :0.1px solid rgb(231, 224, 224); 
$learncolor : blue;

@mixin basicZero {
    font-size: 0px;
    padding: 0px ;
}

@mixin basicContent {
    align-items: center;
    justify-content: center;
}

.login-main-page{
    width: 100%;
    margin: 15vh 0vw;
    display: flex;
    @include basicContent();
}

.login-content{
    padding: 1.5vh;
    width: 25%;
    height: 65vh;
    border: $border;
    border-radius: 7px;
}

.first-content{
    @include basicContent();
}

.Fundoo{
    display: flex;
    font-size: 25px;
    margin: 0vh 0vw -4vh 10vw; 
}

.sign-in{
    font-size: 25px;
}

.account{
    font-size: 20px;
    margin: -1vh 0vw 3vh 0vw;
}

.email{
    @include basicZero();
}

.Password{
    width: 100%;
}

.password{
    @include basicZero();
}

.else-computer{
}

.text{
    font-size: 15px;
}

.learnmore{
    color: $learncolor;
}

.create{
    display: flex;
    margin: 0vh 2vw;
}

.c-text{
    color: $learncolor;
    @include basicContent();
    font-size: 14px;
}


.c-next{
    background-color: $learncolor;
    @include basicContent();
    color: whitesmoke;
    margin: 0vh 0vw;
}

.box{
    margin: 2vh 0vw 0vh 10vw;
}
