@mixin borderOut{
    outline: none;
    border: none;
}

@mixin shadowBorder {
    box-shadow: -1px -1px 5px rgb(153, 150, 150),
                1px 1px 10px rgb(153, 150, 150);
        border-radius:8px;
}

.mainDisplay{
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 1cm;
    width: 100%;
    .displayBox{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100px;
        box-shadow: -1px -1px 5px rgb(153, 150, 150),
        1px 1px 10px rgb(153, 150, 150);
        border-radius:8px;
        .titleDescrip{
            display: flex;
            flex-direction: column;
            margin: 0vh 1vw;
        }
        // input{
        //     width: 100%;
        //     height: 70px;
        //     @include borderOut();
        // }
            .displayThirdPart{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .displayIcons{
                    margin: 0vh 1vw;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                .secondCButton{
                    margin: 0vh 1vw;
                }
            }
    }
}

.close-Icon{
    display: flex;
    margin: 0vh -2vw;
}