@mixin borderOut{
    outline: none;
    border: none;
}

@mixin shadowBorder {
    box-shadow: -1px -1px 5px rgb(153, 150, 150),
                1px 1px 10px rgb(153, 150, 150);
        border-radius:8px;
}

.mainDisplay{
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    height: 1cm;
    width: 100%;
    .displayBox{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100px;
        box-shadow: -1px -1px 5px rgb(229, 226, 226),
        1px 1px 5px rgb(153, 150, 150);
        border-radius:8px;
        .titleDescrip{
            display: flex;
            flex-direction: column;
            margin: 0vh 1vw;
            // background-color: inherit;
        }
            .displayThirdPart{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 2vh 0vw;
                .displayIcons{
                    margin: 0vh 1vw;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                .secondCButton{
                    margin: 0vh 1vw;
                }
            }
    }
}

.close-Icon{
    display: flex;
    margin: 0vh -2vw;
}

@media screen and (max-width:1050px) {
    .mainDisplay{
        grid-template-columns: repeat(5,1fr);
        width: 100%;
    }
    .displayBox{
        width: 80%;
        margin: 15px auto;
    }
}

@media screen and (max-width:900px) {
    .mainDisplay{
        grid-template-columns: repeat(4,1fr);
        width: 100%;
    }
    .displayBox{
        width: 80%;
        margin: 15px auto;
    }
}

@media screen and (max-width:850px) {
    .mainDisplay{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .displayBox{
        width: 65%;
        margin: 15px auto;
    }
}

@media screen and (max-width:650px) {
    .mainDisplay{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .displayBox{
        width: 68%;
        margin: 15px auto;
    }
}

@media screen and (max-width:500px) {
    .mainDisplay{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .displayBox{
        width: 50%;
        margin: 15px auto;
    }
}

@media screen and (max-width:420px) {
    .mainDisplay{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .displayBox{
        width: 40%;
        margin: 10px auto;
        
    }
}

// @media screen and (max-width:420px){
//     // .css-sa04fg-MuiModal-root-MuiDialog-root .MuiDialogContent-root{
//     //     background-color: yellow;
//     //     padding: 16px;
//     //     width :50px,
//     // }
//     .close-Icon{
//         background-color: yellow;
//         justify-content: center;
//         display: flex;
//         width: 50%;
//         .icon-2{
//             background-color: gray;
//         }
//     }
// }
