.main-body{
    margin: auto;
    padding: 50px;
    width: 50%;
}

.page{
    width: 750px;
    height: 600px;
    padding: 25px;
    display: flex;
    border: 0.1px solid rgb(231, 224, 224);
    border-radius: 7px;
   border: 1px solid black;

    justify-content: center;
}

.left-part{
    width: 48%;
    align-items: flex-start;
    align-content: flex-start;
}

.right-part{
    width: 48%;
    justify-content: center;
}

.fundoo{
    display: flex;
    font-size: 25px;
    margin: 0vh 0vw 0vh 0vw; 
}

.account{
    font-size: 20px;
    font-weight:500;
    color: black;
    margin: -5vh 0vw 0vh -7vw;
}

.fl-line{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.firstName{
    width: 48%;
}

.lastName{
    width: 48%;
}

.passLine{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
}

.password{
    width: 48%;
}

.c-password{
    width: 48%;
}

.pass-validation{
    font-size: 12px;
    font-weight:normal ;
}

.check1{
    margin: 2.5vh 1vw;
}

.showpassword{
    display: flex;
}

.showbox{
    font-size: 15px;
}

.signin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: blue;
    margin: 2.5vh 10vw 0vh 0vw;
}

.blue-box{
    width: 10px;
    height: 2px;
}

.button1{
    font-size: 20px;
    color: black;
    background-color: lightblue;
}

.last-part{
    display: flex;
    justify-content: center;
}

.logo1{
    width: 85%;
    height: 50%;
    margin: 10vh 4vw;
}

.logo-text{
    font: 50px;
    font-style: italic;
    margin: -10vh 0vw 0vh 5vw;
}
