.iconsSecondC{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.popOverIcon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.colorPallets{
    // display: flex;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 0.5vh 0vw;
    // align-items: center;
}

.iconColorss{
    // display: inline-flex;
    // display: grid;
    // grid-template-columns: repeat(4,1fr);
    
}