.iconsSecondC{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.colorPallets{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 0.5vh 0vw;
}

.iconColorss{
    display: inline-flex;
    
}