.userName{
    width: 250px;
    height: 150px;
}

.fundoo{
    display: flex;
    font-size: 30px;
    margin: -3vh 0vw -4vh 0vw;
}
.signOut{
    font-size: 30px;
}

.nameDetail{
    font-size: 20px;
    margin: -2vh 0vw;
}
.emailDetail{
    font-size: 20px;
    margin: 2vh 0vw;
}